<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped table-hover table-sm table-bordered mb-0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>@twitter</td>
            </tr>
            <th scope="row">4</th>
            <td>Pedro de Lara</td>
            <td>Thornton</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">5</th>
            <td colspan="2">Elke Maravilha</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">6</th>
            <td colspan="2">Araci de Almeida</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">7</th>
            <td colspan="2">Décio Piccinini</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">8</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">9</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">10</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">11</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">12</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">13</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">14</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">15</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">16</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">17</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">18</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">19</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
            <th scope="row">20</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>




{{!--
<div>
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/links">Coordenador</a></li>
    <li class="breadcrumb-item"><a href="/profile">Evento [00012]</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notas</li>
  </ol>
</nav>
</div>


<div class="tdiv">
    <table id="t_browse">
        <thead>
            <tr>
                <th class="text-center" style="width: 70px">Ação</th>
                <th class="text-right" style="width: 60px">ID</th>
                <th>Descrição</th>
                <th class="text-left">URL</th>
                <th class="text-center" style="min-width: 200px">Última Edição</th>
            </tr>
        </thead>
        <tbody>

            {{#each usuarios}}
            <tr>
                <td>
                    <div class="text-center">
                        <a href="#"><img src="/img/32_editar.png" class="btn_link tooltip-test" title="Editar"></a>
                        <a href="#"><img src="/img/32_excluir.png" class="btn_link tooltip-test" title="Excluir"></a>
                    </div>
                </td>
                <td class="text-right">{{id}}</td>
                <td class="text-left">{{nome}}</td>
                <td class="text-left">{{email}}</td>
                <td class="text-center">{{ts_upd}}</td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>

{{!-- STYLE --}}
<style>
    body {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    h3 {
        color: darkblue;
    }

    table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #t_browse td,
    #t_browse th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #t_browse tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #t_browse tr:hover {
        background-color: #ddd;
    }

    #t_browse th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        /*    background-color: #4CAF50;*/
        background-color: cadetblue;
        color: white;
    }

    .btn_link {
        max-width: 20px;
        max-height: 20px;
    }

    .tdiv {
        max-height: 90%;
        overflow-y: scroll;
    }
</style>