<div>
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/links">Coordenador</a></li>
    <li class="breadcrumb-item"><a href="/profile">Evento [00012]</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notas</li>
  </ol>
</nav>
</div>


<div class="tdiv">
    <table id="t_browse">
        <thead>
            <tr>
                <th class="text-center" style="width: 70px">Ação</th>
                <th class="text-right" style="width: 60px">ID</th>
                <th>Descrição</th>
                <th class="text-left">URL</th>
                <th class="text-center" style="min-width: 200px">Última Edição</th>
            </tr>
        </thead>
        <tbody>

            {{#each links}}
            <tr>
                <td>
                    <div class="text-center">
                        <a href="#"><img src="/img/32_editar.png" class="btn_link tooltip-test" title="Editar"></a>
                        <a href="#"><img src="/img/32_excluir.png" class="btn_link tooltip-test" title="Excluir"></a>
                    </div>
                </td>
                <td class="text-right">{{id}}</td>
                <td class="text-left">{{title}}</td>
                <td class="text-left">{{url}}</td>
                <td class="text-center">{{created_at}}</td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>

{{!-- STYLE --}}
<style>
    body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h3 {
    color: darkblue;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#t_browse td,
#t_browse th {
    border: 1px solid #ddd;
    padding: 8px;
}

#t_browse tr:nth-child(even) {
    background-color: #f2f2f2;
}

#t_browse tr:hover {
    background-color: #ddd;
}

#t_browse th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /*    background-color: #4CAF50;*/
    background-color: cadetblue;
    color: white;
}

.btn_link {
    max-width: 20px;
    max-height: 20px;
}

.tdiv {
    max-height: 90%;
    overflow-y: scroll;
}
</style>