<nav aria-label="breadcrumb">
    <ol class="breadcrumb">


        {{#if menu0}}
        <li class="breadcrumb-item"><a href="/profile">Perfil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Coordenador</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/1">Avaliador</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/2">Candidato</a></li>
        {{/if}}

        {{#if menu1}}
        <li class="breadcrumb-item"><a href="/profile">Perfil</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/0">Coordenador</a></li>
        <li class="breadcrumb-item active" aria-current="page">Avaliador</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/2">Candidato</a></li>
        {{/if}}

        {{#if menu2}}
        <li class="breadcrumb-item"><a href="/profile">Perfil</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/0">Coordenador</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/1">Avaliador</a></li>
        <li class="breadcrumb-item active" aria-current="page">Candidato</a></li>
        {{/if}}



        {{#if menu}}
        {{else}}
        <li class="breadcrumb-item active" aria-current="page">Perfil</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/0">Coordenador</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/1">Avaliador</a></li>
        <li class="breadcrumb-item"><a href="/eventos/funcao/2">Candidato</a></li>
        {{/if}}

    </ol>
</nav>