<div>
<a class="btn btn-primary" href="/profile" role="button">Perfil</a>
<a class="btn btn-primary" href="/eventos/0" role="button">Coordenador</a>
<a class="btn btn-primary" href="/eventos/1" role="button">Avaliador</a>
<a class="btn btn-primary" href="/eventos/2" role="button">Candidato</a>
</div>