<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand shadow-lg rounded" href="/">SELECTOR
      {{#if authUser}}
       [{{authUser.email}}]
      {{/if}}

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>





    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if authUser}}

 
    <a class="btn btn-warning" href="/eventos/funcao/0" role="button" {{#if funcao}}active{{/if}}><strong>Coordenador</strong></a>
    <a class="btn btn-warning" href="/eventos/funcao/1" role="button"><strong>Avaliador</strong></a>




        <li class="nav-item">
          <a href="/eventos/funcao/0" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/usuarios" class="nav-link">Usr</a>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link">Perfil</a>
        </li>

        {{#if authUser.admin}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/signup">Novo Usuário</a>
          </div>
        </li>
        {{/if}}

        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link"><strong>Login</strong></a>
        </li>






        {{/if}}




      </ul>
    </div>

  </div>
</nav>